 .login-title {
            color: gray;
            width: 500px;
            height: 500px;

            background-position: center;
            background-size: cover;
            background-color: darkorange;
            border-radius: 20px;
            text-align: center;
            padding-top: 40px 40px;
        }

 .headtextstar {
    padding: 50px 50px




 }